{% extends 'base.html' %}
{% block title %}{% endblock title %}
{% block content %}
{% if premium %}
<div class="container-fluid">
    <div class="row my-2">
        <div class="col-sm-8">
            {% comment %} {% if video %}
                <div class="ratio ratio-16x9">
                    <iframe src="//www.youtube.com/embed/{{video.video_id}}?autoplay=1" frameborder="0" allowfullscreen></iframe>
                </div>
            {% endif %} {% endcomment %}
                <div class="container-fluid mx-3 my-2">
                    <h3>{{premium.course.course_title}}</h3>
                    {{premium.course.what_we_learn | safe}}
                </div>
                <nav aria-label="Page navigation example">
                <ul class="pagination d-flex justify-content-between">
                </ul>
</nav>
        </div>
        <div class="col-sm-4">
            <h5>Course: {{purchase.course.course_title}}</h5>

            <div class="list-group overflow-auto overflow-x-hidden" style="height:30rem">
            {% for course in premium_course %}
            {% url 'premium:premium_course_details' premium.course.course_slug course.slug as details%}
                <a type="button" href="{{details}}"
                    class="list-group-item my-2 shadow p-3 mb-3 bg-white rounded list-group-item-action" {% if request.path == details %}style="color:#0d6efd"{% endif %}>
                    {{course.title}}
            </a>
            {% endfor %}
            <!-- Button trigger modal -->

            </div>
        </div>
    </div>
</div>
{% else %}
Hii
{% endif %}
{% endblock content %}